@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  /*Primary*/
  --color-blue: hsl(223, 87%, 50%);
  /**Secondary**/
  --color-pale-blue: hsl(223, 100%, 88%);
  --color-light-red: hsl(354, 100%, 66%);
  /*Neutral*/
  --color-gray: hsl(0, 0%, 40%);
  --color-very-dark-blue: hsl(209, 33%, 12%);
}

body {
  padding: 0;
  margin: 0;
  font-family: "Libre Franklin";
  font-size: 18px;
}

#root {
  width: 700px;
  margin: 30px auto;
  text-align: center;
}

.header {
  margin: 50px 0;
}

.logo {
  margin: 0 auto;
}

.heading {
  color: var(--color-gray);
  font-weight: 300;
  font-size: 2.25em;
  margin-bottom: 20px;
}

.heading-soon {
  color: var(--color-very-dark-blue);
  font-weight: 700;
}

.email-form {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 85%;
}

.email-form div {
  width: 65%;
}

.email-input {
  border-radius: 25px;
  border: 1px solid var(--color-pale-blue);
  padding: 12px 25px;
  margin: 10px;
  width: 100%;
  font-size: 0.8em;
}

.email-input::placeholder {
  color: var(--color-pale-blue);
}

.email-input:focus {
  outline: 1.5px solid var(--color-blue);
}

.email-submit-btn {
  padding: 12px 25px;
  margin: 10px;
  width: 25%;
  height: 45px;
  background-color: var(--color-blue);
  color: white;
  border-radius: 25px;
  border: 0;
  box-shadow: 5px 5px 5px var(--color-pale-blue);
  cursor: pointer;
  font-size: 0.8em;
  transition: transform 0.2s;
}

.email-submit-btn:active {
  transform: translate(5px, 5px);
}

.error {
  font-size: 0.7em;
  font-style: italic;
  color: var(--color-light-red);
  text-align: start;
  padding: 12px;
  margin-top: -10px;
}

.email-input-error {
  border: 1px solid var(--color-light-red);
}

.dashboard-img {
  width: 100%;
  padding: 30px 0;
  margin-bottom: 30px;
}

.social-media-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-links div {
  margin: 10px;
  border-radius: 22px;
  border: 1px solid hsl(0, 0%, 95%);
  color: var(--color-blue);
  cursor: pointer;
}

.facebook-div {
  padding: 10px 15px;
}

.twitter-div {
  padding: 10px 11px;
}

.instagram-div {
  padding: 10px 13px;
}

.social-media-links div:hover {
  background-color: var(--color-blue);
  color: white;
}

.copyright {
  font-size: 0.8em;
  color: var(--color-gray);
}

.copyright i {
  padding-right: 5px;
}

footer {
  color: var(--color-blue);
  text-align: center;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 12px;
  }

  #root {
    width: 95vw;
    padding: 0 30px;
    margin-bottom: 0;
  }

  .logo {
    width: 50px;
    margin: 30px;
  }

  .heading {
    font-size: 2em;
  }

  .email-form {
    flex-direction: column;
    align-items: center;
  }

  .email-form div {
    width: 100%;
  }

  .email-input {
    font-size: 1.1em;
    margin: 0;
  }

  .email-input::placeholder {
    text-align: center;
  }

  .email-submit-btn {
    width: 100%;
    font-size: 1.1em;
  }

  .email-submit-btn:active {
    transform: translate(0, 5px);
  }

  .error {
    font-size: 1em;
    font-style: italic;
    color: var(--color-light-red);
    text-align: center;
  }

  .dashboard-img {
    width: 345px;
    margin-left: -20px;
    margin-right: -20px;
  }
}
