@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

:root {
  /*Primary*/
  --color-blue: hsl(223, 87%, 63%);
  /**Secondary**/
  --color-pale-blue: hsl(223, 100%, 88%);
  --color-light-red: hsl(354, 100%, 66%);
  /*Neutral*/
  --color-gray: hsl(0, 0%, 59%);
  --color-very-dark-blue: hsl(209, 33%, 12%);
}

body {
  padding: 0;
  margin: 0;
  font-family: "Libre Franklin";
  font-size: 20px;
}

#root {
  width: 60vw;
  height: 100vh;
  margin: 30px auto;
  text-align: center;
}

.logo {
  margin: 0 auto;
}

.heading {
  color: var(--color-gray);
  font-weight: 600;
}

.heading-soon {
  color: var(--color-very-dark-blue);
  font-weight: 700;
}

.email-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.email-input {
  border-radius: 15px;
  border: 1px solid var(--color-pale-blue);
  padding: 10px;
  margin: 10px;
}

.email-submit {
  background-color: var(--color-blue);
  color: white;
  border-radius: 15px;
  border: 0;
  box-shadow: 5px 5px 2px var(--color-gray);
  padding: 10px;
  margin: 10px;
}

.dashboard-img {
  width: 100%;
}

.social-media-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-links i {
  width: 15px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  color: var(--color-blue);
}

.social-media-links i:hover {
  background-color: var(--color-blue);
  color: white;
}

.copyright {
  font-size: 0.8em;
  color: var(--color-gray);
}
